/**
 * Liquid Messages Related Theming
 */

/* Back Navigation Button on Individual Messages and Series */
a.lqdt-home-btn {
  background: #23527c;
  padding: 8px 18px;
  border-radius: 3px;
  color: #fff;
}

/** SERIES **/
/** Used with a series image */
.lqdt-series-feature-img {
  display: block;
  margin: 20px auto;
}

/** Wraps each message, list of resources when on a series page */
.lqdt-series-each-msg,
.lqdt-series-resources {
  padding-left: 3vw;
  padding-right: 3vw;
}

.lqdm-series-wrap h4 {
  margin-left: 30px;
  border-bottom: none !important;
  text-decoration: underline;
  font-size: 24px;
}

/** MESSAGE **/
/** The featured image for a message */
.lqdt-msg-feature-img {
  width: 100%;
  overflow: hidden;
}

/** Probably unneeded, used in app view */
h1.lqdm-msg-title {
  margin-top: 30px;
  font-size: 32px;
}

/** Wraps individual resource items */
.lqdm-resources-list-item {

}

/** Wraps a single message, see content-single-gc-sermons.php */
.lqdm-single-msg-content {

}

/** Wraps the video/image content for a single message, see message-video-image.php */
.lqdm-single-msg-video-image {

}

/** Wraps the details of a single message, see message-details.php */
.lqdm-single-msg-details {

}

/** Adds spacing between each detail item of a single message */
.lqdm-single-msg-resources,
.lqdm-single-msg-date,
.lqdm-single-msg-scriptures,
.lqdm-single-msg-series,
.lqdm-single-msg-series-part,
.lqdm-single-msg-speakers,
.lqdm-single-msg-summary,
.lqdm-single-msg-tags,
.lqdm-single-msg-topics
{
  margin-bottom: 1vw;
}

/** Wrapper for other messages on single message page, see message-others-in-series.php */
.lqdm-other-msgs {

}

/** Styles header of Other Messages on single messages page, see message-others-in-series.php */
.lqdm-other-msgs-header {
  text-align: center;
  width: 100%;
}

/** Wrapper for series containing individual messages */
.lqdm-series-msgs-list {
  display: flex;
  justify-content: center;
}

/** */
.lqdm-item {

}

/** */
.lqdm-item-link {

}

/** */
.lqdm-list-item-description {

}

/** */
.lqdm-thumb {

}

/** */
.lqdm-no-thumb {

}

/** Used to put a slightly darker overlay over a messages image */
.lqdm-overlay {

}

/** Used if there should not be an overlay */
.lqdm-hover-opposite {

}

/** Used to display title over message or series image */
.lqdm-always-show-title {

}

/** Used to structure the text over a message or series image */
.lqdm-img-table-wrapper {

}

/** SEARCH **/
.lqdm-search label {
  width: 100%;
}

.lqdm-search span {
  font-size: 18px;
}

.lqdm-search-input label {
  width: 100%;
  padding-top: 15px;
}

.lqdm-search-input .form-group {
  width: 100%;
}

.lqdm-search-field {
  width: 60%;
  background: #e2e2e2;
  box-shadow: none;
  height: 60px;
  padding-left: 20px;
  border: 1px solid #ccc;
}

.lqdm-search-filter {
  padding-top: 15px;
}

input.search-submit {
  margin-right: 20px;
  background: #14a7e0;
  height: 60px;
  color: #fff;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.lqdm-search-results {
  padding-left: 20px;
}

/** END SEARCH **/

/** MOBILE VIEWS
    Remove the box shadow on mobile */
.mav-body {
  box-shadow: 0 0 0;
}

.mav-single .lqdm-2-cols h4 {
  text-align: center;
  margin: auto;
  width: 100%;
  text-decoration: none;
  font-size: 3rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mav-single li.lqdm-item.lqdm-thumb {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.mav-series {
  font-size: 1.3em;
  padding: 10px 5px 5px 5px;
}

.mav-single .entry-content {
  font-size: 2rem;
  line-height: 110%;
}

.mav-single .col-md-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.mav-single .lqdm-msg-series,
.mav-single .lqdt-msg-speaker,
.mav-single .lqdt-msg-series-part,
.mav-single .lqdt-msg-scripture,
.mav-single .lqdt-msg-topics,
.mav-single .lqdt-msg-tags,
.mav-single .lqdt-msg-date,
.mav-single .lqdt-msg-summary {
  padding-bottom: 0;
  margin-bottom: 4px;
}

.mav-single .lqdm-msg-series > div:first-of-type,
.mav-single .lqdt-msg-speaker > div:first-of-type,
.mav-single .lqdt-msg-series-part > div:first-of-type,
.mav-single .lqdt-msg-scripture > div:first-of-type,
.mav-single .lqdt-msg-topics > div:first-of-type,
.mav-single .lqdt-msg-tags > div:first-of-type,
.mav-single .lqdt-msg-date > div:first-of-type,
.mav-single .lqdt-msg-summary > div:first-of-type {
  float: left;
  padding-right: 5px;
}

.mav-single div.row.lqdm-msg-title {
  padding-bottom: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  margin-top: 0;
}

.mav-single .lqdt-msg-resources-row div.col-sm-3 {
  padding-bottom: 5px;
}

.mav-single .lqdm-msg-others {
  padding-left: 15px;
  padding-right: 15px;
}

.mav-single .lqdt-msg-resources-row div.col-sm-9 {
  padding-left: 25px;
}

.mav-single .lqdt-msg-summary {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mav-single .lqdm-msg-others h1 {
  margin-top: 0;
}

.mav-single li.lqdm-resources-lang {
  margin-bottom: 0;
}

.mav-single li.lqdm-msg-resources-lang-head {
  margin-bottom: 0;
}

.mav-single .lqdm-msg-resources-list-item {
  line-height: 0.9em;
}

.mav-single .lqdm-item.lqdm-thumb {
  padding: 0;
  margin-bottom: 0;
}

.mav-series .lqdt-series-summary > p {
  font-size: 1em !important;
}

.mav-series .lqdt-series-each-msg {
  padding-left: 5px;
  padding-right: 5px;
}

#socialShare .fa {
  font-size: 5rem;
}

@media screen and (max-width: 800px) {
  ul.lqdm-msg-resources-list li.lqdm-msg-resources-lang-head {
    width: 100%;
  }
}
