/** Set Some Sane Defaults **/
body {
    background: #fff;
    color: #000;
    font-family: "Avenir Next LT Pro", sans-serif;
    font-weight: 400;
    line-height: 1rem; /* Should this be increased ? */
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    outline: none;
}

/* Text Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next LT Pro Demi", sans-serif;
    color: #14a7e0;
    line-height: 110%;
    text-transform: uppercase;
    margin: 1.2rem 0 1.5rem; /* Is this optimal? */
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.page {
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    margin: auto; /* Needed? */
}

/** Page Header **/
.lqd-header-top {
    padding-top: 36px;
    padding-bottom: 25px; /* Needed? */
    padding-right: 0; /* Needed? */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

/** Page Header: Top Row **/
.lqd-header-church-online-btn {
    font-size: 1.5rem;
    line-height: 1rem; /* Allows us to vertically center text of button. */
    height: 28px;
    color: #14a7e0;
    border: 2px solid #337ab7;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 42px;
    margin-top: 6px;
}

/** Page Header: Main Menu **/
.lqd-header-menu .navbar {
    background-color: #14a7e0;
    margin-bottom: 0; /* Needed? */
    border: none;
}

/* Solid Vertical Borders on Menu Items */
.lqd-header-menu ul li {
    border-left: 1px solid #fff;
}

.lqd-header-menu li a {
    color: #fff !important; /* Override Bootstrap default color */
    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.lqd-header-menu ul li:first-child {
    border: medium none; /* Remove white border on first menu item */
}

.lqd-header-menu ul li:last-child {
    border-right: 1px solid #fff; /* Add white border on last menu item. */
}

/* Header Menu: Search Box */
.lqd-header-search {
    margin-top: -2px; /* Moves the search box up just a tiny bit to be more centered. */
    position: relative; /* Helps with position search icon in search box. */
}

/* Most of these are for ensuring the search icon is actually in the search box */
.fa-searchicon {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #14a7e0;
}

.form-group .lqd-header-search-input {
    border: medium none;
    border-radius: 20px;
    height: 28px;
    margin-top: 5px;
    text-indent: 6px;
    padding: 6px 6px;
    cursor: pointer;
}

/** Footer Menu **/
/* Footer Menu: Top (Blue Portion) */
.lqd-footer-top {
    background: #14a7e0;
    padding-top: 18px;
}

.lqd-footer-top .menu_list li a {
    color: white;
    font-size: 2rem;
    line-height: 2.5rem;
}

.lqd-footer-top-left ul li {
    display: inline;
    padding-right: 10%;
}

.lqd-footer-top-right ul li {
    display: inline;
    padding-right:5%;
}

.lqd-footer-top-right li i.ffb {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_Facebook.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-top-right li i.ftwitter {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_twitter.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-top-right li i.finsta {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_Instagram.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-top-right li i.fyoutube {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_YouTube01.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

/* Footer Menu: Bottom */
.lqd-footer-bottom {
    background-color: #dcddde;
}

.lqd-footer-bottom h2 {
    border-bottom: 1px solid #fff;
    color: #14a7e0;
    font-size: 18px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.lqd-footer .menu_list li a {
    font-family: "Avenir Next LT Pro Demi", sans-serif;
}

.lqd-footer-menu-not-selected a {
    color: #14a7e0;
    text-decoration: none;
}
