/* Blue Button - Use a span inside of blue button class to make content larger. */
.blue_btn, .orange_btn {
    color: #0074c8;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    font-variant: normal;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    -moz-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    padding: 10px 20px;
    margin: 10px 0 0 0;
    border: 4px solid rgb(0, 86, 139);
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    top: auto;
    background: #fff;
    position: relative;
}

.blue_btn > span, .orange_btn > span {
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: #f08a41;
    font-family: "Avenir Next LT Pro Demi", sans-serif;
}

.blue_btn:hover, .blue_btn:focus, .orange_btn:hover, .orange_btn:focus {
    color: #14a7e0;
    border-color: #f08a41;
    text-decoration: none;
    outline: none;
}

.blue_btn:hover span, .blue_btn:focus span {
    color: rgb(0, 86, 139);
}

/* Orange Button */
.orange_btn {
    color: #f08a41;
}

.orange_btn > span {
    color: rgb(0, 86, 139);
}

.orange_btn:hover, .orange_btn:focus {
    color: rgb(0, 86, 139);
    border-color: rgb(0, 86, 139);
}

.orange_btn:hover span, .orange_btn:focus span {
    color: #f08a41;
}
