* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #000;
    font-family: "Avenir Next LT Pro", sans-serif;
    font-weight: normal;
    line-height: 1rem;
}

div, span, ul, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    outline: none;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    visibility: hidden;
    font-size: 0;
    height: auto;
    clear: both;
}

.clear {
    clear: both;
}

.aligncenter {
    text-align: center !important;
}

.wp-caption {
    text-align: initial;
}

.wp-caption-text {
    text-align: initial;
}

.gallery-caption {
    text-align: initial;
}

.sprite { /* TODO: No use in code? */
    display: inline-block;
    vertical-align: middle;
}

/** Headers **/
h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next LT Pro Demi", sans-serif;
    color: #14a7e0;
    line-height: 110%;
    text-transform: uppercase;
    margin: 1.2rem 0 1.5rem;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

/** Blue & Orange Buttons **/
/* Put a span inside blue btn class the content will be bigger */
.blue_btn, .orange_btn {
    color: #0074c8;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    font-variant: normal;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    -moz-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    padding: 10px 20px;
    margin: 10px 0 0 0;
    border: 4px solid rgb(0, 86, 139);
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    top: auto;
    background: #fff;
    position: relative;
}

.orange_btn {
    color: #f08a41;
    border-color: #f08a41;
}

.blue_btn > span, .orange_btn > span {
    display: block;
    font-size: 40px;
    line-height: 40px;
    color: #f08a41;
    font-family: "Avenir Next LT Pro Demi", sans-serif;
}

.orange_btn > span {
    color: rgb(0, 86, 139);
}

.blue_btn:hover, .blue_btn:focus {
    color: #14a7e0;
    border-color: #f08a41;
    text-decoration: none;
    outline: none;
}

.orange_btn:hover, .orange_btn:focus {
    color: rgb(0, 86, 139);
    border-color: rgb(0, 86, 139);
    text-decoration: none;
    outline: none;
}

.blue_btn:hover span, .blue_btn:focus span {
    color: rgb(0, 86, 139);
}

.orange_btn:hover span, .orange_btn:focus span {
    color: #f08a41;
}

/** Forms **/
input[type="text"], select, textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background: #ffffff none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"]::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

input[type="text"]:-ms-input-placeholder {
    color: #999999;
}

input[type="text"]::-webkit-input-placeholder {
    color: #999999;
}

textarea {
    height: 140px;
}

/* Only Definition of .page */
.page {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 1280px;
}

/* Entire Header */

/** Page Header **/
.lqd-header-top {
    padding: 36px 0 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    max-width: 1280px;
    margin: 0 -70px 0 -70px;
}

/* Location Dropdown */
.location-block .selectric .label {
    font-family: 'Avenir Next LT Pro', sans-serif !important;
}

/* Selectric Styling for Location Dropdown */
.selected {
    float: left;
    margin: 0;
    width: 27%;
}

/* Church Online Header Button */
.lqd-header-church-online-btn-style {
    font-size: 1.5rem;
    line-height: 16px;
    height: 28px;
    margin-top: 6px;
    padding-top: 4px;
    color: #14a7e0;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid #337ab7;
    display:block;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    -moz-box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    box-shadow: 0 0 0 0 rgba(247, 245, 245, 0);
    border-radius: 42px;
}

/** Main Menu **/
.lqd-header-menu {
    margin: 0 -70px 0 -70px;
}

.lqd-header-menu .navbar {
    background-color: #14a7e0;
    border:none;
    margin: 0 -55px 0 -55px;
}

.lqd-header-menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    color: initial;
}

/* Menu Items
 * Solid Vertical Border;
 */
.lqd-header-menu ul li {
    border-left: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    margin: auto;
    text-align: center;
}

/* Menu Item Link */
.lqd-header-menu li a {
    color: #ffffff !important; /* This will be gray per Bootstrap if !important is removed. */
    display: block;
    font-size: 1.5rem;
    font-family: 'Avenir Next Cyr W00 Bold', sans-serif;
    padding: 15px 40px;
    text-transform: uppercase;
}

.lqd-header-menu nav { /* Not sure this is necessary */
    margin: 0;
}

/* First and Last Menu Items on Header Menu */
.lqd-header-menu ul li:first-child {
    border: medium none;
}

.lqd-header-menu ul li:last-child {
    border-right: 1px solid #fff;
}

/* Header Menu Search */
.form-group .lqd-header-search-input {
    border: medium none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 6px 5px;
    text-indent: 6px;
    height: 28px;
    margin-top:5px;
}

/* Positioning of Search Icon, top of search field. */
.lqd-header-search {
    position: relative;
    margin-top: -2px;
}

/* Actual icon for search. */
.fa-searchicon {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #14a7e0;
    cursor: pointer;
}

/** Footer **/
/* Top (Blue) Portion of Footer */
.lqd-footer-top {
    background: #14a7e0;
    padding: 18px 0;
    margin-left: -70px;
    margin-right: -70px;
}

/* Ensures social media icons don't stack on each other. */
.lqd-footer-top ul li {
    display:inline;
}

/* Top Footer Links Should Be White */
.lqd-footer-top .menu_list li a {
    color: white;
    font-size: 20px;
    line-height: 28px;
}

/* Separates the Contact Us, etc. links in top footer from one another. */
.lqd-footer-top-left .menu_list ul li {
    padding-right:80px;
}

.lqd-footer-top-left li ul li a {
    color: #FFF;
    margin: 7px 0 0 11px;
    font-size: 20px;
}

.lqd-footer-top-left {
    margin-left: -5px;
}

.lqd-footer-top-left .menu_list li {
    min-width: 205px;
}

/* Positions Social Icons to Right on Footer */
.lqd-footer-social {
    float:right;
}

/* Spaces out the social icons in top footer. */
.lqd-footer-social li {
    margin-right: 10px;
}

/* Styling of Individual Social Media Icons */
/* Could be consolidated, except for background */
.lqd-footer-social li i.ffb {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_Facebook.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-social li i.ftwitter {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_twitter.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-social li i.finsta {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_Instagram.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.lqd-footer-social li i.fyoutube {
    background: rgba(0, 0, 0, 0) url("../image/LRGwhite_Icon_YouTube01.png") no-repeat scroll center center / 100% auto;
    height: 30px;
    width: 30px;
    display: inline-block;
}

/* Contains All of the Footer Bottom Menus */
.lqd-footer-bottom { /* was .footer_container */
    background-color: #dcddde;
    padding-top: 6px;
    margin: 0 -70px 0 -70px;
}

/* Set the Header for Footer Menu items */
.lqd-footer-bottom h2 { /* was inner_block h2 */
    border-bottom: 1px solid #fff;
    color: #14a7e0;
    font-size: 18px;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Navigation Menus */
/* Ensures that top left footer Contact Us, etc. doesn't stack. */
.lqd-footer-top .menu_list ul li {
    display:inline !important;
}

/* Also ensures top left footer Contact Us, etc. doesn't stack. */
.lqd-footer-top .menu_list ul li a {
    display:inline;
}

.menu_list {
    margin: 0;
}

.menu_list ul {
    margin: 0;
}

/* Spacing for Menu Items in Footer */
.menu_list ul li {
    display: block;
    padding: 0 0 24px;
}

.menu_list li a {
    color: #0074c8;
    display: block;
    font-family: "Avenir Next LT Pro Demi", sans-serif;
    font-size: 16px;
    line-height: 16px;
}

/* If no menu has been selected for footer widgets */
.lqd-footer-menu-not-selected a {
    color: #14a7e0;
    text-decoration: none;
}

/** Entry Content **/
.lqd-content {
    margin-left: -70px;
    margin-right: -70px;
}

.entry-content {
    padding: 15px;
    font-size: 24px;
    line-height: 135%;
    color: #333;
}

.entry-content p {
    font-size: 24px;
    line-height: 135%;
    color: #333;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.entry-content .body-text p {
    padding-left: 0;
}

/* Headers for Main Page Content */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4 {
    padding: 0 0;
    display: inline-block;
}

.entry-content .search-form {
    padding-right: 30px;
    padding-left: 30px;
}

.entry-content table {
    margin-left: 30px;
}

.entry-content ul {
    padding: 0 0 0 0;
}

.entry-content ul li {
    color: #333333;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    list-style: inside;
}

.entry-content ol {
    padding: 0 30px;
}

.entry-content ol li {
    color: #333333;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    list-style: decimal inside;
}

.entry-content hr {
    clear: both;
    display: block;
}

.site-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 15px;
}

.site-description {
    margin-top: 15px;
}

/** Media Queries **/
/* 1024px - 1200px */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .nav > li > a {
        padding-left: 28px;
        padding-right: 28px;
    }

    .lqd-footer-top-left .menu_list li {
        min-width: 172px;
    }
}

/* 768px - 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .selected {
        margin: 8px 0 0 50px;
        width: 40%;
    }

    .nav > li > a {
        padding-left: 11px;
        padding-right: 12px;
    }
}

/* 768px - 814px Only Affects Header */
@media only screen and (min-width: 768px) and (max-width: 814px) {
    .lqd-header-menu li a {
        font-size: 1.34rem;
    }
}

/* 768px - 991px Only Affects Footer */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lqd-footer-top-left .menu_list li {
        width: auto;
    }
}

/* 992px - 1023px Only Affects Footer */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
    .lqd-footer-top-left .menu_list li {
        min-width: 151px;
    }

    .lqd-footer-top-left .menu_list ul li:nth-child(2n) {
        width: 160px !important;
    }
}

/* >= 768px */
@media (min-width: 768px) {
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-form.navbar-right {
        margin-right: 5px;
        padding-left: 11px;
        padding-right: 11px;
    }

    h1 {
        font-size: 44px;
    }

    .entry-content p {
        font-size: 20px;
    }
}

/* <= 767px Extensive */
@media (max-width: 767px) {
    /* Header */
    .logo {
        text-align: center;
        float: none;
        margin-left: 0;
    }

    .selected {
        margin: 0;
        width: 92%;
        text-align: center;
        float: none;
    }

    .form-group .lqd-header-search-input {
        width: 100%;
    }

    .navbar-toggle {
        border-radius: 0;
        float: left;
        margin-left: 10px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .menu_list li a {
        font-size: 1.2em
    }

    .nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Footer */
    .lqd-footer-top-left .menu_list ul li {
        padding-bottom: 24px;
    }

    .lqd-footer-container {
        background-color: #dcddde;
        padding: 0 27px 0 18px;
    }

    .lqd-footer-top-left {
        text-align: center;
        float: none;
        margin-left: 0;
        width: 100%;
    }

    .lqd-footer-top-left li {
        float: none;
        padding-right: 0;
    }

    .lqd-footer-social {
        display: block;
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .lqd-footer-social li {
        display: inline;
        margin-right: 10px;
        float: none;
    }

    /* Main Content */
    .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .entry-content p {
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;

    }

    .entry-content table {
        margin-left: 0;
    }

    /* Headers */
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }


    /* Search Form */
    .page-content .search-form {
        padding-left: 0;
        padding-right: 0;
    }

    .search-form .screen-reader-text {
        font-size: 16px;
    }

    .search-form .search-field {
        font-size: 16px;
        height: 24px;
    }

    .search-form label {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .search-submit {
        display: block !important;
        margin: 5px auto 10px;
        padding: 0 29px;
        text-align: center !important;
    }

    /* Essential Grid */
    .esg-grid.esg-layout-even.esg-container {
        margin: 10px 0;
        padding: 0 !important;
    }

    .filterall.eg-liquid-front-page-wrapper.tp-esg-item.itemtoshow.isvisiblenow {
        width: 100% !important;
    }
}

/* <= 479px / Only Affects Footer */
@media (max-width: 479px) {
    .lqd-footer-top-left li a {
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .lqd-footer-top-left {
        padding: 0;
    }

    .lqd-footer-top-left {
        width: 55%;
    }

    .lqd-footer-top-left li:last-child a {
        margin: 0;
    }
}

/**
 * Bootstrap has a max width of 1170px, but this theme was built on 1280px.
 * To make it work we need to increase the max size of the container (to 1280px) and also make the row wider
 * at larger screen resolutions.
 */
@media (min-width: 1000px) {
    .container {
        width:1280px !important;
    }
    .container.lqd-header, .container.lqd-footer, .container.lqd-content {
        min-width:1000px;
        max-width:1280px;
    }

    .lqd-header-menu {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/* For Text Body Content */
.body-text
{
    max-width: 800px !important;
    margin: auto !important;
}

/* Responsive Videos, when not using FitVid. */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Google Maps */
.mapWrapper {
    position: relative;
    padding-bottom: 90%;
    height: 0;
    overflow: hidden;
}

.mapWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/** Campus Pages **/
/* Times */
.service-times {
    background-color: #e6e8e5;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.service-times:first-child {
    font-size: 5rem !important;
}

.ssat {
    font-size: 3rem;
    padding-bottom: .2rem;
}

.sstime {
    font-size: 4rem;
}

/* Campus Addresses */
.campus-addresses {
    float: right;
    max-width: 48%;
    padding-right: 5%;
}

.campus-addresses h2 {
    padding-left: 0px;
}

.campus-addresses p {
    padding-left: 0px;
}

/* Campus GPS Address */
.campus-gps-address {
    clear: both;
}

/* Mailing Address */
.campus-mailing-address {
    margin-top: 20px;
}

.campus-get-directions {
    padding: 0 30px;
}

/* Get Directions */
.campus-get-directions input {
    display: inline;
    max-width: 60%;
}

/* Campus Staff Header */
.campus-staff-header {
    background-color: #14a7e0;
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0 20px 0;
    clear: both;
    margin: 30px 0;
}

/* Campus Staff Box */
.campus-staff {
    display: inline-block;
    width: 100%;
}

/* Styling for individual staff box */
.individual-staff {
    clear: both;
    max-width: 80%;
    margin: auto auto 10px auto;
}

.individual-staff hr {
    display: inline-block;
    width: 100%;
    margin: 10px auto 0 auto;
    padding: auto 10px auto 10px;
}

.individual-staff span {
    font-size: 2rem;
    padding-left: 20%;
}

.individual-staff img {
    float: left;
}

/* Pastor Bios Styling */
.pastors-bios h2 {
    margin-bottom: 0;
}

.pastors-bios h3 {
    margin-bottom: 0;
}

/* Search and Filter */
.searchandfilter ul li
{
    float:left;
}

/* Job Description */
.job_description ul
{
    padding-left:40px;
}

/* List Items without Bullets */
.lqd-no-bullets li {
    list-style: none;
}

/* Group Guide styling */
.group-guides h1.entry-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "arial";
    padding-left: 0;
    text-transform:capitalize;
}

.group-guides-template-default h1  {
    padding-left: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: "arial";
}

.group-guides p {
    padding-left:0px;
    font-size: 18px;
}

.group-guides ul li {
    font-size: 18px;
}

.group-guides ol li {
    font-size: 18px;
}
